.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
}

.chat-header {
  display: flex;
  background-color: white;
  color: black;
  padding: 15px;
  border-bottom: 0px solid #f1f1f1;
  box-shadow: 0 4px 2px -2px #d8d8d8;
}

.chat-header-info {
  margin-left: 10px;
}

.chat-header-info > h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: -8px;
  color: black;
}

.chat-header-info > p {
  color: rgb(114, 114, 114);
  font-size: 16px;
}

.chat-exit-button {
  margin-left: auto;
  font-size: small;
  cursor: pointer;
  padding: 10px;
}

.chat-body {
  flex: 1;
  padding: 30px;
  overflow: scroll;
}

.chat-message-container {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.chat-message-container-sent {
  display: flex;
  position: relative;
  margin-left: auto;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: auto;
}

.chat-message {
  position: relative;
  font-size: 16px;
  padding: 8px 12px 10px 12px;
  width: fit-content;
  border-radius: 40px;
  background-color: #f1f1f1;
  margin-bottom: 30px;
}

.chat-message-flair {
  margin-right: 5px;
}

.chat-message-name {
  position: absolute;
  top: -18px;
  font-weight: 500;
  font-size: small;
  color: black;
}

.chat-message-date {
  margin: 8px;
  color: #bbb;
}

.chat-message-sent {
  background-color: rgb(34, 130, 255);
  color: white;
}

.chat-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chat-footer > form {
  flex: 1;
  display: flex;
  background-color: #f3f3f3;
  border: 1px solid #f3f3f3;
  border-radius: 30px;
  margin-left: 5px;
  height: 40px;
}
.chat-footer > form:hover {
  border: 1px solid #ddd;
}

.chat-footer > .MuiSvgIcon-root {
  color: grey;
  cursor: pointer;
}

.chat-footer > .MuiSvgIcon-root:hover {
  color: black;
}

.chat-footer > form > input {
  flex: 1;
  background: none;
  border: none;
  outline-width: 0;
  height: 40px;
  margin-left: 8px;
  font-size: 15px;
}

.chat-footer > form > button {
  border: none;
  background: none;
  padding: 5px;
  padding-right: 8px;
  margin-top: 2px;
  color: grey;
  cursor: pointer;
}

.chat-footer > form > button:hover {
  color: black;
}

.chat-footer-emoji-picker {
  bottom: 80px;
  position: absolute;
}
