.sidebarChat {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.sidebarChat:hover {
  background-color: #f2f2f2;
}

.sidebarChat-logo {
  padding: 10px;
}

.sidebarChat-info > h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

.sidebarChat-info > p {
  color: grey;
}
