.sidebarChat {
  display: flex;
  cursor: pointer;
}

.sidebarChat-logo {
  padding: 10px;
}

.sidebarChat-info > h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

.sidebarChat-info > p {
  color: grey;
}
